<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">


  <title>jbblay | {{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link href="static/main.3f6952e4.css" rel="stylesheet"></head>


<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="{{ url_for('index') }}">01 : Home </a></li>
          <li><a href="{{ url_for('works') }}">02 : Works </a></li>
          <li><a href="{{ url_for('about') }}">03 : About me</a></li>
          <li><a href="{{ url_for('contact') }}">04 : Contact</a></li>
        </ul>
      </div>






        {%block work%}{%endblock work%}
      </div>
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->
{% block content %}{% endblock content%}

{% block footer %}
<footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h4></span>joseph blay</span>© {{date}} </h4>
        </div>
      </div>
    </div>
  </footer>
  {%endblock footer%}
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script type="text/javascript" src="static/main.70a66962.js"></script></body>


</html>
